.gameKeyboard {
  display: grid;
  grid-template-rows: repeat(3, 32px);
  grid-template-columns: repeat(10, 32px);
  grid-gap: 4px;
}


@media only screen and (min-width: 720px) {
  .gameKeyboard {
    grid-template-rows: repeat(3, 48px);
    grid-template-columns: repeat(10, 48px);
    grid-gap: 4px;
  }
}
